@charset "utf-8";

.body{
    
}

.container{
    padding-top: 15px;
    }
.row{
    padding-right: 10px;
}

.container-fluid{
    text-align: center;
    padding-bottom: 10px;
    
}

.fakeimg{  
    padding-right: 15px;


}

.h2{
    font-family: 'Merriweather', serif;
}

.p{
    padding-top: 10px;
}